@model Ankieta.Models.Uzytkownik

@{
    ViewData["Title"] = "Create";
}
<body style="color: black" class="tlo">
    <center>
<h4>Wpisz swoje imię i nazwisko</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UzytkownikUserId" class="control-label"></label>
                <select asp-for="UzytkownikUserId" class ="form-control" asp-items="ViewBag.UzytkownikUserId"></select>
            </div>
            </br>
                    <div class="form-group">
                        <input type="submit" value="Dodaj" class="btn btn-success" />
                        <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Index">Powrót</a></button>
                    </div>
        </form>
    </div>
</div>
</center>
</body>


