@model Ankieta.Models.Uzytkownik

@{
    ViewData["Title"] = "Details";
}



<div>
    <h4 style="text-align:center">Detale użytkownika</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UzytkownikUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UzytkownikUser.UserName)
        </dd>
    </dl>
    <center>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
        <a class="btn btn-danger" asp-action="Index">Powrót</a>
    </center>
</div>





