@model Ankieta.Models.OdpowiedzUzytkownika

@{
    ViewData["Title"] = "Edit";
}

<body style="color: black" class="tlo">
    <center>
<h4>Edycja odpowiedzi użytkownika</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="PytanieId" class="control-label"></label>
                <select asp-for="PytanieId" class="form-control" asp-items="ViewBag.PytanieId"></select>
                <span asp-validation-for="PytanieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OdpowiedzId" class="control-label"></label>
                <select asp-for="OdpowiedzId" class="form-control" asp-items="ViewBag.OdpowiedzId"></select>
                <span asp-validation-for="OdpowiedzId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UzytkownikId" class="control-label"></label>
                <select asp-for="UzytkownikId" class="form-control" asp-items="ViewBag.UzytkownikId"></select>
                <span asp-validation-for="UzytkownikId" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Zapisz" />
                    <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Index">Powrót</a></button>
                </div>
        </form>
    </div>
</div>
    </center>
</body>
