
@{
    ViewData["Title"] = "Ankiety";
}
<center><button type="button" class="btn btn-success"><h1>Ankiety</h1></button></center>

<div class="card" style="width: 18rem; background-color: greenyellow">
    <img class="card-img-top" src="https://staticg.sportskeeda.com/editor/2022/03/e2c03-16468369746445-1920.jpg" alt="Fortnite czy Minecraft">
    <div class="card-body">
        <center>
                <a type="button" class="btn btn-success" class="nav-link text-dark" asp-area="" asp-controller="AnkietaSzkolna" asp-action="Index"> <button type="button" class="btn btn-success"> Uzupełnij Ankiete </button></a>
        </center>
    </div>
</div>



