@model Ankieta.Models.AnkietaSzkolna

@{
    ViewData["Title"] = "Ankieta1";
}

<h1> Wybierz swoją ulubioną grę </h1>

<form method="post" action="/AnkietaSzkolna/Ankieta1/">
    <select name="Gry">
        <option value="Scar">Scar</option>
        <option value="Sztucer">Sztucer</option>
        <option value="KarabinBojowy">Karabin Bojowy</option>
        <option value="WolnaPompa">Wolna Pompa</option>
        <option value="LKM">LKM</option>
    </select>
    <input type="submit" value="Wyślij" />
</form>

@ViewBag.Gry

