@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">BŁĄD.</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Wniosek ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb rozwoju</h3>
<p>
    Zamiana na <strong>Rozwój</strong> środowisku wyświetli bardziej szczegółowe informacje o błędzie, który wystąpił.
</p>
<p>
    <strong>Środowisko programistyczne nie powinno być włączone dla wdrożonych aplikacji.</strong>
    Może to spowodować wyświetlenie użytkownikom końcowym poufnych informacji z wyjątków.
    W przypadku lokalnego debugowania włącz <strong>Rozwój</strong> środowisko, ustawiając <strong>ASPNETCORE_ENVIRONMENT</strong> zmienna środowiskowa do <strong>Rozwój</strong>
    i ponowne uruchomienie aplikacji.
</p>
