@model Ankieta.Models.Odpowiedz

@{
    ViewData["Title"] = "Delete";
}

<body style="color: black" class="tlo">
    <center>

<h3>Czy na pewno chcesz to usunąć?</h3>
</center>
<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pytanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pytanie.Tresc)
        </dd>
    </dl>

            <form style="text-align:center" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Usuń" class="btn btn-danger" /> |
                <button type="button" class="btn btn-danger"><a style="text-decoration: none; color: white" asp-action="Index">Powrót</a></button>
            </form>
</div>
</body>