@model Ankieta.Models.Odpowiedz

@{
    ViewData["Title"] = "Details";
}

<body style="color: black" class="tlo">


<div>
    <h4 style="text-align:center" >Odpowiedź </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tresc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tresc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pytanie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pytanie.Tresc)
        </dd>
    </dl>
</div>
    <center>
        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edytuj</a> |
        <a class="btn btn-danger" asp-action="Index">Powrót</a>
    </center>
</body>