html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.tlo {
    background-image: url(https://img.freepik.com/free-vector/white-minimal-hexagons-background_79603-1452.jpg?w=996&t=st=1701416999~exp=1701417599~hmac=c2aef69283b282d57e7083c94da7561c14d3ce3adebddcadd1d535deda06bd93);
}



